{% extends "shared/base.html" %}
{% block title %}
  <title>400</title>
{% endblock %}
{% block content %}
<!-- Start Content -->
  <div class="w3-container">
      <div class="w3-container">
      {% for error in errors %}
      <div class="w3-panel w3-pale-red w3-border w3-round">
	       <h3>{{error}}</h3>
      </div>
          {% endfor %}
      </div>
      <div>
        {% if msg %}
        <div>
          {{msg}}
        </div>
        {% endif %}
      </div>

    <div class="w3-row">
      <div class="w3-card-4 w3-round-large">
        <div class="w3-container w3-center">
	  <h1>Nenalezeno - Not Found</h1>
	        <p>The requested resource was not found on this server.</p>
          <h2>{{detail}}</h2>

        </div>
	<div class="w3-container w3-center w3-padding-32">
    <div class="w3-row">
      <div class="w3-container">
	<img src="/static/img/flat/fam8.png" alt="Family" style="width:50%">
      </div>
    </div>
  </div>
      </div>
    </div>
</div>
<!-- End Content -->
{% endblock %}
