<div class="w3-container w3-center w3-padding">
  	<img class="w3-bar-item" src="/static/img/flat/logo.png" alt="Lights" style="width:8%">
  <h2><a href="/"class="nounderline">NEJLEPSI POJISTENI</a></h2>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center  w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com" target="_blank">w3.css</a></p>
  <p class="w3-medium">Image by vectorjuice
     <a href="https://www.freepik.com/free-vector/family-house-abstract-concept-vector-illustration-single-family-detached-home-family-house-single-dwelling-unit-townhouse-private-residence-mortgage-loan-down-payment-abstract-metaphor_11668256.htm" target="_blank">on Freepik</a></p>


</footer>
