
<div class="w3-bar  w3-padding">

  <img class="w3-bar-item" src="/static/img/flat/logo.png" alt="Logo" style="width:10%">

  <h6 class="w3-bar-item w3-left"><a href="/"class="nounderline"><b>NEJLEPSI POJISTENI</b></a></h6>


  <h6 class="w3-bar-item w3-left"></h6>

  <h6 class="w3-bar-item w3-left"><a href="/kontakt/"class="nounderline">Kontakt</a></h6>


  <h6 class="w3-bar-item w3-left"><a href="/about/"class="nounderline">O nas</a></h6>


  <h6 class="w3-bar-item w3-left"><a href="/registr/"class="nounderline">Registrace</a></h6>

  <h6 class="w3-bar-item w3-left"><a href="/login/"class="nounderline">Prihlaseni</a></h6>

  <h6 class="w3-bar-item w3-left"><a href="/admin/login" target="_blank class=" class="nounderline">Admin</a></h6>

</div>
