<div class="w3-bar  w3-padding">

  <img class="w3-bar-item" src="/static/img/flat/logo.png" alt="Lights" style="width:10%">
  <h6 class="w3-bar-item"><a href="/"class="nounderline"><b>NEJLEPSI POJISTENI</b></a></h6>
  <h6 class="w3-bar-item w3-left"></h6>
  <h6 class="w3-bar-item w3-left"><a href="/kontakt/"class="nounderline">Kontakt</a></h6>
  <h6 class="w3-bar-item w3-left"></h6>
  <h6 class="w3-bar-item w3-left">
      <a href="/uzivatel/"
	 class="nounderline">
	 {{current_user.jmeno}} {{current_user.prijmeni}}</a></h6>

  <h6 class="w3-bar-item w3-left"></h6>
  <h6 class="w3-bar-item w3-left"></h6>
  <h6 class="w3-bar-item w3-left">
    <a href="/logout/"class="nounderline">Odhlasit</a></h6>

</div>
