



<div class="w3-container w3-center w3-padding-16">

  <div class="w3-container w3-quarter">
    <h6
      class="w3-left w3-text-red">
      <a href="/administrator/ucet/"
	 class="nounderline">
	 {{current_user.jmeno}} {{current_user.prijmeni}}
      </a>
    </h6>
  </div>

  <div class="w3-container w3-quarter">
    <h6
      class="w3-left">
      <a href="/administrator/pojisteni"
	 class="nounderline">Pojisteni</a>
    </h6>
  </div>

  <div class="w3-container w3-quarter">
    <h6
      class="w3-left">
      <a href="/administrator/pojistenci"
   class="nounderline">Pojistenci</a>
    </h6>
  </div>

  <div class="w3-container w3-quarter">
    <h6
      class="w3-left">
      <a href="/administrator/udalosti"
	 class="nounderline">Udalosti</a>
    </h6>
  </div>

  <div class="w3-container w3-quarter">
    <h6
      class="w3-left">
      <a href="/logout"
	 class="nounderline">Odhlasit</a>
    </h6>
  </div>

</div>
