<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
  body {font-family:"Times New Roman", serif; background-color: #FFFFFF ;}
  h1,h2,h3,h4,h5,h6 {font-family:serif; letter-spacing:3px}
  hr{color:red}
  </style>

  <style type="text/css">
    a.nounderline {text-decoration: none; }
  </style>

  {% block title %}
  {% endblock %}

</head>
<body class="w3-content">
  {% include "components/navbar_ucet.html" %}

  {% block content %}
  {% endblock %}

  {% include "components/footer.html" %}

</body>
</html>
