{% extends "shared/base_admin.html" %}
{% block title %}
  <title>Detail</title>
{% endblock %}


{% block content %}
<!-- Start Content -->

<div class="w3-container w3-center">
<h1><a href="/administrator/ucet"class="nounderline">ADMIN BOARD</a></h1>
</div>

<div class="w3-container w3-padding-32">
  <div class="w3-container w3-center">
    <h2>POJISTENEC DETAIL</h2>
  </div>


      {% with obj=pojistenec %}
      <div class="w3-container">


      <form
        enctype="multipart/form-data"
        method="post"

          <div class="w3-card-4 w3-round">
            <h1 class="w3-center">
      	    id: <b>{{pojistenec.id}}</b></h1>
          </div>

          <div class="w3-container">
            <h2 class="w3-left-align w3-margin-left">
            jmeno: <b>{{pojistenec.jmeno}}</b></h2>   <input class="w3-input w3-border w3-round"
                        type="text"
                        name="jmeno"
                        value="{{jmeno}}"
                        class="form-control"
                        size="50"
                        placeholder="Jmeno"required>

          </div>

          <div class="w3-card-4 w3-round">
            <h2 class="w3-left-align w3-margin-left">
            prijmeni: <b>{{pojistenec.prijmeni}}</b></h2>
          </div>

          <input class="w3-input w3-border w3-round"
            type="text"
            name="prijmeni"
            value="{{prijmeni}}"
            class="form-control"
            placeholder="Prijmeni"required>

          <div class="w3-card-4 w3-round">
            <h2 class="w3-left-align w3-margin-left">
              ulice: <b>{{pojistenec.ulice}}</b></h2>
          </div>

          <input class="w3-input w3-border w3-round"
            type="text"
            name="ulice"
            value="{{ulice}}"
            class="form-control"
            placeholder="Ulice c.p."required>


          <div class="w3-card-4 w3-round">
            <h2 class="w3-left-align w3-margin-left">
              mesto: <b>{{pojistenec.mesto}}</b></h2>
          </div>

          <input class="w3-input w3-border w3-round"
            type="text"
            name="mesto"
            value="{{mesto}}"
            class="form-control"
            placeholder="Mesto"required>

          <div class="w3-card-4 w3-round">
            <h2 class="w3-left-align w3-margin-left">
              psc: <b>{{pojistenec.psc}}</b></h2>
          </div>

          <input class="w3-input w3-border w3-round"
            type="number"
            name="psc"
            value="{{psc}}"
            class="form-control"
            placeholder="PSC"required>

          <div class="w3-card-4 w3-round">
            <h2 class="w3-left-align w3-margin-left">
              telefon: <b>{{pojistenec.telefon}}</b></h2>
          </div>

          <input class="w3-input w3-border w3-round"
            type="number"
            name="telefon"
            value="{{telefon}}"
            class="form-control"
            placeholder="Telefon"required>



          <div class="w3-card-4 w3-round">
            <h2 class="w3-left-align w3-margin-left">
              email: <b>{{pojistenec.email}}</b></h2>
          </div>

          <input class="w3-input w3-border w3-round"
            type="text"
            name="email"
            value="{{email}}"
            class="form-control"
            placeholder="Email"required>

          {% endwith %}

          <div  class="w3-panel" style="width:100%"><button type="submit" class="w3-btn w3-block w3-orange w3-round">UPRAVIT POJISTENCE</button></div>

        </form>

</div>
<!-- End Content -->
{% endblock %}
